<br>

<h2 class="text">{{employee.fullName}}</h2>

<div class="style">

<div class="card" style="width: 18rem;">
<img [src]="url3" class="card-img-top" alt="user">

<div class="update">
<a  (click)="updateEmployee(employee.id)">
<img [src]="url1" class="card-img1-top" alt="edit">
</a>
</div>


<div class="card-body">

<div class="form-group">
<label><b>Full Name:</b></label>{{employee.fullName}}
</div>

<div class="form-group">
<label><b>Age:</b></label>{{employee.age}}
</div>

<div class="form-group">
<label><b>Gender:</b></label>{{employee.gender}}
</div>

<div class="form-group">
<label><b>Date of Birth:</b></label>{{employee.dob}}
</div>

<div class="form-group">
<label><b>Department:</b></label>{{employee.department}}
</div>

<div class="form-group">
<label><b>salary:</b></label>{{employee.salary}}
</div>

<div class="del">
<button  (click)="deleteEmployee(employee.id)" type="button" class="btn btn-danger">
<img [src]="url2" alt="delete" width="40px">
</button> 
</div>

</div>
</div>
</div>
<br>

