<h3 class="text">Employee List</h3>
<hr>
<div class="container">

<form class="d-flex">
<input class="form-control" type="search" placeholder="Enter Employee name to search" id="fullName" name="fullName" [(ngModel)]="fullName" aria-label="Search">
<button class="btn btn-outline-success" type="button" (click)="Search()">Search</button>
</form>
<hr>
<br>

<table class="table table-bordered border-primary">
<thead>
<tr>
<th>Employee Id</th>
<th>Full Name</th>
<th>Age</th>
<th>Gender</th>
<th>Date of Birth</th>
<th>Department</th>
<th>Salary</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let employee of employees">
<td>{{employee.id}}</td>
<td>{{employee.fullName}}</td>
<td>{{employee.age}}</td>
<td>{{employee.gender}}</td>
<td>{{employee.dob}}</td>
<td>{{employee.department}}</td>
<td>{{employee.salary}}</td>
<td>
    
<a (click)="employeeDetails(employee.id)" class="details" style="margin-left: 14px"> 
<img [src]="url" class="image"> 
</a> 

</td>
</tr>
</tbody>
</table>
</div>