<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
<!-- Links -->
<ul class="navbar-nav">
<li class="nav-item">
<a routerLink="employees-list" class="nav-link" routerLinkActive="active"> <img [src]="url1" alt="list" width="39px"> </a>
</li>

<li class="nav-item">
<a routerLink="add-employee" class="nav-link" routerLinkActive="active"> <img [src]="url2" alt="Add" width="39px"> </a>
</li>
</ul>

</nav>

<router-outlet></router-outlet>
<footer class="footer">
<div class = "container">
<span>Rights Reserved 2022 @Sri Sai Ram</span>
</div>
</footer>