<h3 class="text">Add Employee</h3>

<div class="form-1">
<form class="form" (ngSubmit)="onSubmit()">

<div class="row mb-3">
<label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
<div class="col-sm-6">
<input type="text" class="form-control" id="fullName" [(ngModel)]="employee.fullName" name="fullName" required placeholder="Enter Full Name">
</div>
</div>

<div class="row mb-3">
<label for="age" class="col-sm-2 col-form-label">Age</label>
<div class="col-sm-6">
<input type="number" class="form-control" id="age" [(ngModel)]="employee.age" name="age" required placeholder="Enter Age">
</div>
</div>

<fieldset class="row mb-3">
<legend class="col-form-label col-sm-2 pt-0">Gender</legend>
<div class="col-sm-6">
<div class="form-check">
<input class="form-check-input" type="radio" [(ngModel)]="employee.gender" name="gender" id="gender" value="Female" checked>
<label class="form-check-label" for="gender">
Female
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="radio" [(ngModel)]="employee.gender" name="gender" id="gender" value="Male">
<label class="form-check-label" for="gender">
Male
</label>
</div>
</div>
</fieldset>

<div class="row mb-3">
<label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
<div class="col-sm-6">
<input type="date" class="form-control" id="dob" [(ngModel)]="employee.dob" name="dob" required placeholder="Enter Date of Birth">
</div>
</div>

<div class="row mb-3">
<label for="department" class="col-sm-2 col-form-label">Department</label>
<div class="col-sm-6">
<select class="form-select" id="validationCustom04" [(ngModel)]="employee.department" name="department" required>
<option selected disabled value="">Department</option>
<option>Full Stack Developer</option>
<option>Frontend Developer</option>
<option>Backend Developer</option>
<option>Java Developer</option>
<option>Data Analyst</option>
<option>Data Science</option>
<option>Block chain</option>
<option>Ethical Hacking</option>
</select>


</div>
</div>

<div class="row mb-3">
<label for="salary" class="col-sm-2 col-form-label">Salary</label>
<div class="col-sm-6">
<input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" name="salary" required placeholder="Enter Salary">
</div>
</div>

<div class="button-1">
<div class="col-sm-6">
<button type="submit" class="btn btn-success">Add</button>
</div>
</div>

</form>
</div>
<hr>
